{% extends 'base.html' %}

{% block title %}
    Edit student
{% endblock %}

{% block body %}
<section class="text-gray-600 body-font ">
    <div class="mt-9 lg:w-3/6  mx-auto">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mt-5 mb-2 text-gray-900">Edit Student</h1>
        <div class="h-1 w-40 bg-yellow-500 rounded"></div>
      </div>
      <div class=" mt-9 lg:w-3/6  mx-auto bg-gray-100 rounded-lg p-8  ">
        <form action="" method="post">
            {% csrf_token %}
        <div class="relative mb-4">
          <label for="first-name" class="leading-7 text-sm text-gray-600">First Name</label>
          <input type="text" value="{{first_name}}" id="first-name" name="first-name" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
            <label for="last_name" class="leading-7 text-sm text-gray-600">Last Name</label>
            <input type="text" value="{{last_name}}" id="last_name" name="last_name" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        <div class="relative mb-4">
          <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
          <input type="email" value="{{email}}" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
            <label for="mobile" class="leading-7 text-sm text-gray-600">Mobile</label>
            <input type="text" value="{{mobile}}" id="mobile" name="mobile" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
            <label for="mobile" class="leading-7 text-sm text-gray-600">Course</label>
            <select name="course" value="{{course_name}}" id="" class="w-full bg-white rounded border border-gray-300 focus:border-yellow-500 focus:ring-2 focus:ring-yellow-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                <option value="" disabled>Choose course</option>
                {% for course in courses %}
                <option value="{{course.id}}">{{course.course_name}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">Button</button>
       </form>
     </div>
      </div>
    </div>
  </section>
{% endblock %}